{% extends "base.html" %}
{% load bootstrap_pagination %}

{% block header %}
<script src="{{ STATIC_URL }}js/favourites.js"></script>
<script type="text/javascript">
    $(document).ready(function (){
        attachFavouritesAction();
    });
</script>
{% endblock %}

{% block wrap %}
<div class="row-fluid">
    <div class="span12">
        <div class="show-heading row-fluid">
            <hgroup class="show-title page-title span8">
              <h1>Pieces</h1>
            </hgroup>

            <table class="table table-striped table-bordered table-hover">
                <tr>
                    <th>Title</th>
                    <th>Composer</th>
                    <th>Book</th>
                    <th>Position in Book</th>
                    {% if is_logged_in %}
                    <th>Favourites</th>
                    {% endif %}
                </tr>
                {% for piece in pieces %}
                <tr>
                    <td><a href="/piece/{{ piece.piece_id }}">{{ piece.title }}</a></td>
                    <td>{{ piece.composer_id }}</td>
                    <td>{{ piece.book_id.title }}</td>
                    <td>{{ piece.book_position }}</td>
                    {% if is_logged_in %}
                    <td>
                        {% include "main/favourites/favourites.html" with is_favourite=piece.is_favourite piece_id=piece.piece_id %}
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
            {% bootstrap_paginate pieces range=10 %}
        </div>
    </div>
</div>
{% endblock %}