{% extends "base.html" %}
{% load template_dict %}

{% block header %}
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/themes/base/jquery-ui.css" rel="stylesheet"></link>
  <script src="{{ STATIC_URL }}js/notation.js"></script>
  <script src="{{ STATIC_URL }}js/favourites.js"></script>
  <script type="text/javascript" src="http://vm-duchemin.haverford.edu:8080/assets/scripts/libs/vexflow-free.js"></script>
  <script type="text/javascript" src="http://vm-duchemin.haverford.edu:8080/assets/scripts/libs/meitovexflow.js"></script>
  <script type="text/javascript">
    $(document).ready(function (){
        attachAnalysisClickEvents();
        attachPhraseClickEvents();
        attachFavouritesAction();
    });
  </script>
{% endblock %}

{% block wrap %}
      <div class="row-fluid">
        <div class="span12">

          <div class="show-heading row-fluid">
            <hgroup class="show-title page-title span8">
              <h1>{{ piece.title }}</h1>
              <h2>{{ piece.composer_id.full_name }}</h2>
              <h3>{{ piece.piece_id }}</h3>
            </hgroup>
            
            <div class="well span4">
              <dl class="well-list account-info-list">
                <dt>Source:</dt>
                <dd><a href="/book/{{ piece.book_id.book_id }}">{{ piece.book_id.title }}</a></dd>
                <dt>View:</dt>
                <dd><a href="#">Complete Modern Edition</a></dd>
                <dd><a href="#">Translation</a></dd>
              </dl>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span8">
              <table class="table table-noborders">
                <thead>
                  <tr>
                    <th>Measure</th>
                    <th>Rhyme</th>
                    <th>Phrase</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                {% for phrase in phrases %}
                  <tr>
                    <td>
                    {% if phrase.phrase_start %}
                      {{ phrase.phrase_start }}&ndash;{{ phrase.phrase_stop }}
                    {% endif %}
                    </td>
                    <td>
                      {% if phrase.rhyme %}
                        {{ phrase.rhyme }}
                      {% endif %}
                    </td>
                    <td class="line-text">
                      {{ phrase.phrase_text }}
                    </td>
                    <td>
                      <a href="#" class="view-phrase" phid="{{ piece.piece_id }}/{{ phrase.phrase_id }}">View</a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>

            <div id="sidebar" class="span4">
              <h3>Favourites</h3>
              {% include "main/favourites/favourites.html" with is_favourite=is_favourite %}
              <h3>Notes</h3>
              <p>Notes go here.</p>
              <h3>Problems</h3>
              <p>Is this record incorrect? <a href="mailto:rfreedma@haverford.edu?subject=Problem with Piece {{ piece.piece_id }}"> Notify us.</a></p>
            </div><!--/span-->
          </div>

          <div class="row-fluid">
            <div class="span12">
              {% if analyses %}
              <div class="analysis-display">
                  <h3>Analyses</h3>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Analyst</th>
                        <th>Phrase Number</th>
                        <th>Start Measure</th>
                        <th>Stop Measure</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for analysis in analyses %}
                      <tr>
                        <td>{{ analysis.analyst }}</td>
                        <td>{{ analysis.phrase_number.phrase_num }}</td>
                        <td>{{ analysis.start_measure }}</td>
                        <td>{{ analysis.stop_measure }}</td>
                        <td>
                          <a href="#" class="view-analysis" anid="{{ analysis.id }}">View</a> | 
                          <a href="#" class="analyses-info-expand" target="analyses-info-{{ forloop.counter }}">Expand</a>
                        </td>
                      </tr>
                      <tr id="analyses-info-{{ forloop.counter }}" class="analyses-info">
                        <td colspan="5">{% include "analysis/analysis_extended_display_info.html" %}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
                {% endif %}
                {% if reconstructions %}
                <div class="reconstruction-display">
                  <h3>Reconstructions</h3>
                  <table class="table table-striped">
                    <tr>
                      <th>Reconstructor</th>
                      <th></th>
                    </tr>
                    {% for reconstruction in reconstructions %}
                    <tr>
                      <td>{{ reconstruction.reconstructor.surname }}</td>
                      <td><a href="#">View</a></td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
                {% endif %}
              </div>
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->
      <script type="text/javascript">
        $('.analyses-info').hide();
        $('.analyses-info-expand').on({
          'click': function(event) {
            event.preventDefault();
            tgt = "#" + $(this).attr('target');
            $(tgt).toggle();
            tag = $(this).text() == "Expand" ? "Collapse" : "Expand";
            $(this).text(tag);
            return false;
          }
        })
      </script>
{% endblock %}