<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#search-accordion" href="#date-section">
                <span>Date</span><i class="icon-plus"></i></a>
    </div>
    <div id="date-section" class="accordion-body collapse">
        <div class="accordion-inner">
            <table class="table">
                <thead>
                    <tr>
                        <th>Start date
                            <input type="text" class="span2" value="02/16/12" data-date-format="mm/dd/yy" id="dp2" >
                        </th>
                        <th>End date
                            <input type="text" class="span2" value="02/16/12" data-date-format="mm/dd/yy" id="dp2" >
                        </th>
                    </tr>
                </thead>
                <tbody><tr><td></td><td></td></tr></tbody>
            </table>
        </div>
    </div>
</div>