<label class="vg-checkbox" for="{{ filt_id }}_un_oct">@1 or 8</label>
<input type="checkbox" id="{{ filt_id }}_un_oct" name="{{ filt_id }}_un_oct" value="un_oct" />

<label class="vg-checkbox" for="{{ filt_id }}_fifth">@5</label>
<input type="checkbox" id="{{ filt_id }}_fifth" name="{{ filt_id}}_fifth" value="fifth" />

<label class="vg-checkbox" for="{{ filt_id }}_above">Above</label>
<input type="checkbox" id="{{ filt_id }}_above" name="{{ filt_id }}_above" value="above" />

<label class="vg-checkbox" for="{{ filt_id }}_below">Below</label>
<input type="checkbox" id="{{ filt_id }}_below" name="{{ filt_id }}_below" value="below" />
