<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Lost Voices: Du Chemin</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
  <!-- scripts concatenated and minified via build script -->
  <script src="{{ STATIC_URL }}js/bootstrap/bootstrap.min.js"></script>
  <script src="{{ STATIC_URL }}js/plugins.js"></script>
  <!-- <script src="{{ STATIC_URL }}js/main.js"></script> -->
  {% if is_piece %}
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/themes/base/jquery-ui.css" rel="stylesheet"></link>
  <script src="{{ STATIC_URL }}js/notation.js"></script>
  <script type="text/javascript" src="http://vm-duchemin.haverford.edu:8080/assets/scripts/libs/vexflow-free.js"></script>
  <script type="text/javascript" src="http://vm-duchemin.haverford.edu:8080/assets/scripts/libs/meitovexflow.js"></script>

  {% endif %}
  <script type="text/javascript">
    $(document).ready(function (){
        console.log("hello world");
        attachAnalysisClickEvents();
    });
  </script>
  <!-- end scripts -->
  <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">

  <link type="text/css" rel="stylesheet" href="http://vm-duchemin.haverford.edu:8080/assets/styles/music.css"></link>
  <link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic' rel='stylesheet' type='text/css'>
  <script src="{{ STATIC_URL }}js/vendor/modernizr-2.5.3.min.js"></script>
</head>
<body id="home-page">
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

<!--     <div id="page-util-nav" class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <ul class="nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="account.html">Account</a></li>
            <li><a href="advanced.html">Search</a></li>
            <li><a href="results.html">Search Results</a></li>
            <li><a href="show.html">Entry View</a></li>
          </ul>
        </div>
      </div>
    </div>
 -->
    <div id="utility-nav" class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <p class="navbar-text pull-right"><a href="account.html"><i class="icon-user"></i> My Account</a></p>
        </div>
      </div>
    </div>

    <div id="title-container" class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <hgroup class="span8">
            <h1 id="main-title"><a href="/"><span class="main-title-pre">Lost Voices:</span> Du Chemin</a></h1>
            <h2 id="tagline">Tagline goes here.</h2>
          </hgroup>
          <a id="les-livres-link" class="btn btn-large btn-inverse" href="#"><i class="icon-book icon-white"></i> Explore <em>Les Livres</em></a>
        </div>
      </div>
    </div>

    <div id="main-nav" class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class=""><a href="#">Browse Works</a></li>
              <li><a href="#about">Reconstructions</a></li>
              <li><a href="#contact">About the Project</a></li>
            </ul>
            <form class="navbar-search pull-right" action="">
              <input type="text" class="nav-search-query span2" placeholder="Search">
              <a href="advanced.html" class="advanced-link">Advanced search &raquo;</a>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div id="main" class="container-fluid">
      {% block wrap %}

      {% endblock %}
      <hr>

      <footer id="footer">
        <div class="row-fluid">
          <h2>Created through the generous support of</h2>
        </div><!--/row-->
        <div class="row-fluid">
          <h3 class="span4"><a href="#">Funder 1</a></h3>
          <h3 class="span4"><a href="#">Funder 2</a></h3>
          <h3 class="span4"><a href="#">Funder 3</a></h3>
        </div><!--/row-->
        <hr>
        <p class="copyright">&copy; Copyright goes here 2012</p>
      </footer>

    </div><!--/.fluid-container-->
</body>
</html>
